*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #495867;
}


/* INICIO STYLES HEADER */

.containerLogoTit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    width: 70px;
}

.bg-light{
    background-color: noine !important;
}

.bg-body-tertiary{
    background-color: #495867 !important;
}

.row>* {
    padding-right: 0; 
    padding-left: 0; ;
}

.contenedorNavHamb{
    display: flex;
    justify-content: center !important;
}

#navbarNav{
    text-align: center;
}

.nav-item{
    display: flex;
    justify-content: center;
}

.nav-link{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
    width: 30%;
}

/* FIN STYLES HEADER */


/* INICIO STYLES FOOTER */

.titAyuda{
    text-align: center;
}

.contactanos{
    margin-top: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid white;
    padding: 8px 10px;
    transition: all 0.3s;
    position: relative;
    overflow:hidden;
  }
  
.contactanos:hover{
    background-color: #297373;
  }
  
.contactanos:before{
    content:"";
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height:50px;
    position: absolute;
    transform:translatex(-100%) rotate(45deg);  
    transition: all 0.3s;
  }
  
.contactanos:hover:before{
      transform:translatex(100%) rotate(45deg); 
  }

.fa-instagram, .fa-facebook, .fa-twitter{
    color: #ffe999;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.containerFooter{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 15px;
}

.containerAyuda{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRedes{
    justify-content: space-evenly;
}
/* FIN STYLES FOOTER */



/* INICIO STYLES INDEX */

.imgCarousel{
    height: 300px;
}

#carouselExample{
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    margin-top: 30px;
    width: 98%;
}

section{
    display: flex;
    justify-content: center;
}


/* FIN STYLES INDEX */

/* INICIO STYLES PRODUCTOS */

.subTitQuienes, .descQuienes{
    text-align: center;
}

.subTitProduct{
    text-align: center;
}

.containerSelect{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.dropdown-menu-dark{
    position: absolute;
    inset: 0px auto auto -50px!important;
    margin: 0px;
    transform: translate3d(0px, 40px, 0px);
}

.card{
    background-color: #495867;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.btn-primary{
    border: solid 1px #297373;
    background-color: #297373;
}

.centrarCard{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.containerBtn{
    display: flex;
    justify-content: center;
}

/* INICIO STYLES ARMA TU PC */

.containerArmaTuPc{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.containerArmaPc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-select{
    width: 200px;
}

/* FIN STYLES ARMA TU PC */

/* INICIO STYLES CONTACTO */

.containerUbi{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* FIN STYLES CONTACTO */

/* STYLES VISTA DESKTOP */

@media (min-width: 992px){
    .nav-item{
        width: 230px;
    }

    .nav-link{
        width: 120px;
    }

    .containerQuienesSomos{
        margin-top: 20px;
    }

    .imgCarousel{
        height: 400px;
    }
    
    #carouselExample{
        width: 800px;
        height: 400px;
    }

    .nav-link:hover{
        transform: scale(1.2);
        transition: 0.2s;
    }

    .rowFlex{
        border-top: 1px solid grey;
    }

    .containerArmaTuPc{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .containerArmaPc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-select{
        width: 200px;
    }
}