<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a134c1edd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Tragos</title>
</head>
<body>
    
    <header>

        
        <div class="containerLogoTitulo">
            <img src="../img/logoImg.png" alt="logo" class="logo">

            <h1 class="tituloPagina">H4RDWARE</h1>
        </div>  

        <ul class="ulHeader">
            <li><a href="../index.html" class="links">INICIO</a></li>
            <li><a href="productos.html" class="links">PRODUCTOS</a></li>
            <li><a href="armatupc.html" class="links">ARMA TU PC</a></li>
            <li><a href="ofertas.html" class="links">OFERTAS</a></li>
            <li><a href="contacto.html" class="links">CONTACTO</a></li>
        </ul>
    </header>


    <section>
        <div class="containerArmaPc">
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA PLACA MADRE</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
    
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA PROCESADOR</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
    
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA MEMORIA RAM</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
        </div>
    
        <div class="containerArmaPc2">
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA PLACA DE VIDEO</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
            
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA FUENTE</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
        </div>
    
        <div class="containerArmaPc3">
            <form class="formSelecHard">
                <h3 class="tipoHard">SELECCIONA DISCO</h3>
                <select name="hardware" class="selectHard">
                    <option value="placa1">Placas de video</option>
                    <option value="placa2">Memorias ram</option>
                    <option value="placa3">Procesador</option>
                    <option value="placa4">Motherboard</option>
                    <option value="placa5">Disco Rigido | Solido</option>
                </select>
            </form>
        </div>

        <div class="containerComprar">
            <input type="button" name="comprar" value="COMPRAR" class="btnComprar">
        </div>
    </section>
    

    <footer class="footerFlex">

        <div class="containerAyuda">
            <p class="tituloAyuda">¿NECESITAS AYUDA?</p>
            <input type="submit" value="CONTACTANOS" class="contactenos">
        </div>

        <div class="redesSociales">
            <span>
                <i class="fa-brands fa-facebook fa-2x"></i>
            </span>
            <span>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </span>
            <span>
                <i class="fa-brands fa-twitter fa-2x"></i>
            </span>
        </div>

        <div class="containerLogo">
            <img src="../img/logoImg.png" alt="logo" class="logo">
        </div>
    </footer>
</body>
</html>