<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a134c1edd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacto</title>
</head>
<body>
    
    <header>

        
        <div class="containerLogoTitulo">
            <img src="../img/logoImg.png" alt="logo" class="logo">

            <h1 class="tituloPagina">H4RDWARE</h1>
        </div>  

        <ul class="ulHeader">
            <li><a href="../index.html" class="links">INICIO</a></li>
            <li><a href="productos.html" class="links">PRODUCTOS</a></li>
            <li><a href="armatupc.html" class="links">ARMA TU PC</a></li>
            <li><a href="ofertas.html" class="links">OFERTAS</a></li>
            <li><a href="contacto.html" class="links">CONTACTO</a></li>
        </ul>
    </header>

        <h3 class="tituloNosotros">NOSOTROS</h3>
 
        <div class="containerMapa">
            <iframe class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6629.93669473325!2d5.
                311538040619823!3d60.39415875091549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463cfeaec4a529e7%3A0x1f866f00d2eee1b7!
                2sFjord%20Tours%20AS!5e0!3m2!1ses!2sar!4v1672875253672!5m2!1ses!2sar" 
                width="500" height="350" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        
        <footer class="footerFlex">

            <div class="containerAyuda">
                <p class="tituloAyuda">¿NECESITAS AYUDA?</p>
                <input type="submit" value="CONTACTANOS" class="contactenos">
            </div>
    
            <div class="redesSociales">
                <span>
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </span>
                <span>
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </span>
                <span>
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </span>
            </div>
    
            <div class="containerLogo">
                <img src="../img/logoImg.png" alt="logo" class="logo">
            </div>
        </footer>
</body>
</html>