<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a134c1edd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos</title>
</head>
<body>
    
    <header>

        
        <div class="containerLogoTitulo">
            <img src="../img/logoImg.png" alt="logo" class="logo">

            <h1 class="tituloPagina">H4RDWARE</h1>
        </div>  

        <ul class="ulHeader">
            <li><a href="../index.html" class="links">INICIO</a></li>
            <li><a href="productos.html" class="links">PRODUCTOS</a></li>
            <li><a href="armatupc.html" class="links">ARMA TU PC</a></li>
            <li><a href="ofertas.html" class="links">OFERTAS</a></li>
            <li><a href="contacto.html" class="links">CONTACTO</a></li>
        </ul>
    </header>

    <h2 class="SubTitHard">PRODUCTOS</h2>
   
    <form class="formSelecHard">
        <h3 class="tipoHard">SELECCIONA TIPO DE HARD</h3>
        <select name="hardware" class="selectHard">
            <option value="combos">Combos</option>
            <option value="placasdevideo">Placas de video</option>
            <option value="memoriasram">Memorias ram</option>
            <option value="procesador">Procesador</option>
            <option value="placasmadre">Motherboard</option>
            <option value="discos">Disco Rigido | Solido</option>
        </select>
    </form>

    <section>
        <div class="containerCards">
            <div class="card1 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>

            <div class="card2 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>

            <div class="card3 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>
            <div class="card4 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>
        </div>

        <div class="containerCards">
            <div class="card5 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>

            <div class="card6 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>

            <div class="card7 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>

            <div class="card8 cards">
                <img src="../img/pc1.jpg" class="prodCard" alt="">
                <p class="tituloCard">PLACA DE VIDEO RTX 3090</p>

                <div class="containerDesc">
                    <p class="descripCard">Descripción:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Similique qui fuga sit! Unde deleniti cupiditate et qui dignissimos earum</p>
                </div>
                <p class="precioCard">$400.000</p>
                <div class="containerComprar">
                    <input type="button" name="precio" value="COMPRAR" class="btnComprar">
                </div>
            </div>
        </div>
    </section>



    <footer class="footerFlex">

        <div class="containerAyuda">
            <p class="tituloAyuda">¿NECESITAS AYUDA?</p>
            <input type="submit" value="CONTACTANOS" class="contactenos">
        </div>

        <div class="redesSociales">
            <span>
                <i class="fa-brands fa-facebook fa-2x"></i>
            </span>
            <span>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </span>
            <span>
                <i class="fa-brands fa-twitter fa-2x"></i>
            </span>
        </div>

        <div class="containerLogo">
            <img src="../img/logoImg.png" alt="logo" class="logo">
        </div>
    </footer>
</body>
</html>